/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
:root {
  --blk: rgb(25, 25, 25);
  --grn: rgb(5, 176, 5);
  --wht: rgb(229, 225, 225);
}
body {
  background-color: black;
  color: var(--grn);
  font-family: "Special Elite",Verdana;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form > input {
  margin-bottom: .5rem;
}
input {
  /* padding: 0 0 1rem 0; */
  background: repeating-linear-gradient(45deg, darkgray 0 2px, lightgray 2px 4px);
}
form {
  width: 30%;
  min-width: 260px;
}
#postForText {
  height: 4rem;
  overflow-x: clip;
}
#postForText::placeholder,
#username::placeholder {
  color: var(--blk);
  margin: 0;
  padding: 0;
}
#postForText::placeholder {
  position: absolute;
  top: 3px;
  left: 4px;
}
h1 {
  font-size: 4rem;
  margin-bottom: .5rem;
}
button {
  background-color: var(--grn);
  color: var(--blk);
  font-family: "Special Elite", Verdana;
  font-size: 1rem;
  line-height: .9rem;
  padding: .4rem .6rem;
}
h3 {
  text-align: center;
  font-size: 2rem;
}
h6, 
h4 {
  margin: .1rem;
}
h6 {
  margin-bottom: .5rem;
  color: var(--wht);
}
h5 {
  color: var(--wht);
}
.solidBar {
  width: 90%;
  height: 4px;
  background-color: var(--grn);
}
.warningLabel {
  color: var(--grn);
  font-family: Verdana, sans-serif;
  font-size: 2.2rem;
  text-shadow: 2px 2px 2px var(--wht);
}
.userPost {
  box-shadow: 1px 1px 2px var(--wht);
  width: 90%;
  margin: 3px 1rem;
  line-height: 2ch;
  letter-spacing: .15ch;
}
.userPostArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.modify {
  width: 100%;
}
.postContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
